*{
   padding:0px;
    margin-left: 2px;
    margin-right: 0px;
    margin-top: 0px;
}

body {
   
    background-image:  url("~/img/goasunset.jpg");
     background-repeat:no-repeat;
    background-size: cover;
    font-family: Candara;
}
#bg{
    min-height: 100%;
    min-width: 1024px;
	
 
  width: 100%;
  height: auto;
	
  
  position: fixed;
  top: 0;
  left: 0;
}


#header{
  position: absolute;
  top: 10%;    
  left:0;
  right:0;
  width: 30%;
  height: 20%;
  border:thin solid black;
  text-overflow:ellipsis;
  overflow:hidden;
}
#tableh{
     float: right;
}
label{
    background-color:lightpink;
    text-align:right;
    text-anchor:middle;
    margin:auto;
}
.buttonstyle{
    background-color:black;
    border-top-left-radius:6px;
    color:lavender;

}
 .buttonstyle:hover{
    background-color:chocolate;
}
 .labelstyle{
     margin:auto;
 }